.code {
    height: calc(100vh - 215px);
}

.code .codeflask {
    max-width: 95%;
    background: #f3f3f3;
}

.sql {
    color: #ffe87a;
    background: #212529;
    border-radius: 2px;
    padding: 13px;
    height: calc(100vh - 80px);
}
.sql-tab {
    margin-left: 13px
}
